
body {
	background-color: #666;
		line-height: 1.45;
}
#page { 
	width: 72%;
   background-color: white;
    margin: 50px auto;
	padding:  4% 5%;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.4);

}
header {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 2.5em;
}

header h1 {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  border: 1px solid black;
  display: inline-block;
  padding: 0.3em 0.8em;
  margin-bottom: 1.2em;
}

header h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin: 0.3em 0;
  font-size: 3.5em;
}
header p {
  text-transform: uppercase;
  letter-spacing: 0.12em;
  margin: 0.8em;
  text-align: center;
  font-weight: bold;
}

/* Multi-column layout
-------------------------------------------------- */
main {
  column-gap: 2.5em;
  column-count: 3;


}
main p {
  margin-bottom: 1em;
  break-inside: avoid;;
}
main h4 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 4% 0.8em;
  break-after: avoid;
  font-weight: bold;
  
}

footer {
  
  margin: 3em;

}
